* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
.mainContent h1 {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.gallery img {
  position: relative;
  width: 100%;
}

.gallery img:hover {
  top: -5px;
  box-shadow: 0 5px 12px #888888;
  cursor: pointer;
}
